@import 'variables.scss';

@keyframes animateBg {
    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: 100% 0%;
    }
}

.bet-details {
    padding-top: 1em;
    margin-top: var(--header-height);

    &__bg {
        padding: 1em;
        background: var(--c-primary-darken-2);
        border-radius: 5px;
        box-shadow: var(--box-shadow-secondary);
    }

    &__heading {

        &__name {
            text-align: center;
            
        }

        &__divider {
            height: 3px!important;
            border-radius: 10px;
            box-shadow: var(--box-shadow-primary);
            animation: animateBg 14s linear infinite alternate-reverse;
            background-image: linear-gradient(90deg,
                    var(--c-primary-lighten-3),
                    var(--c-primary-lighten-3),
                    var(--c-secondary),
                    var(--c-accent));
            background-size: 400% 100%;
        }

    }
    &__sub {
        display: flex;
        align-items: center;

        &__avatar {
            height: 40px;
            min-width: 40px;
            width: 40px;
            background-color: lightseagreen;
            border-radius: 100vh;
        }
        &__text {
            margin: 1.5em 0 1.5em 1.5em;
        }
    }
    &__main {
        &__description {
            h1 {
                text-align: center;
            }
            p {
                margin-bottom: 0;
            }
        }
    }
}