@import "variables.scss";

.create-bet-form {
  form {
    @media (min-width: $screen-lg) {
      max-width: 800px;
    }
  }

  label {
    color: var(--c-dark);
  }

  &__field {
    margin-bottom: 1em;
  }

  #cbf-desc {
    height: 150px;
  }

  &__wrap {
    padding: 1em;
    background: var(--c-primary-darken-3);
    border-radius: 5px;
    box-shadow: var(--box-shadow-primary);
    margin-bottom: 1.5em;

    h3 {
      font-size: 1.2em;
      padding-bottom: 0.3em;
      margin-bottom: 1em;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        animation: animateBg 14s linear infinite;
        background-image: linear-gradient(
          90deg,
          #5700ed,
          #00cc9c,
          #eef300,
          #5700ed,
          #00cc9c
        );
        background-size: 400% 100%;
      }

      @keyframes animateBg {
        0% {
          background-position: 0% 0%;
        }

        100% {
          background-position: 100% 0%;
        }
      }
    }
  }

  &__config {
    @media (min-width: $screen-lg) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 2em;
    }

    h3 {
      grid-column-start: span 2;
    }

    label {
      color: var(--c-light);
      margin-bottom: 1em;
      position: relative;
      padding-bottom: 0.3em;

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        animation: animateBg 14s linear infinite;
        background-image: linear-gradient(
          90deg,
          #5700ed,
          #00cc9c,
          #eef300,
          #5700ed,
          #00cc9c
        );
        background-size: 400% 100%;
      }

      @keyframes animateBg {
        0% {
          background-position: 0% 0%;
        }

        100% {
          background-position: 100% 0%;
        }
      }
    }

    &__field {
      padding: 1em;
      background: var(--c-primary-darken-3);
      border-radius: 5px;
      box-shadow: var(--box-shadow-primary);
      margin-bottom: 1.5em;

      @media (min-width: $screen-lg) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      p {
        font-size: 0.9em;
      }

      input {
        text-align: center;
      }
    }

    &__options {
      @media (min-width: $screen-lg) {
        grid-column-start: span 2;
      }
    }
  }

  &__submit {
    width: 100%;
    height: 50px;
    font-size: 1.1em;
    background: var(--roy-primary);
    outline: none;
    border-radius: 5px;
    box-shadow: var(--box-shadow-primary);
    border: none;

    animation: animateCreateBtn 10s linear infinite alternate-reverse;
    background-image: linear-gradient(
      90deg,
      #05aa83,
      #00cc3a,
      #00cc9c,
      #00cc3a
    );
    background-size: 300% 100%;

    @keyframes animateCreateBtn {
      0% {
        background-position: 0% 0%;
      }

      100% {
        background-position: 100% 0%;
      }
    }

    @media (min-width: $screen-lg) {
      grid-column-start: span 2;
    }
  }
}
