@import "variables.scss";

#main-container {
  margin-top: calc($headerHeight + 1em);

  background: var(--cg-primary);
}

::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: #212529;
}

::-webkit-scrollbar-thumb {
  background: #3f474f;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3f474f;
}
